* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    font-size: 1em;
    color: #212121;
    line-height: 1.5;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
  display: block; 
  max-width: 100%; 
  object-fit: cover;
}

.img {
    width: 350px;
    height: 250px;
}


.form-conteiner {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: cornflowerblue;
    z-index: 1;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-form input {
    width: 20%;
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 4px 0 0 4px;
    background-color: #fafafa;
    font: inherit;
}

.search-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background-color: rgb(146, 134, 134);
}

.search-form button:hover,
.search-form button:focus {
    background-color: rgb(209, 202, 202);
    transition: all 0.4s;
}

.gallery-conteiner {

    padding-left: 15px;
    padding-right: 15px;
    width: 1340px;
    /* margin: 0 auto; */
}  



.gallery {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
   padding-top: 100px;
   margin-bottom: 100px; 
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 4px;
}


.photo-card {
    
    max-width: 300px;
}



.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: rgb(19, 17, 17);
}



.load-more {
    display: block;
    margin: 25px auto 0 auto;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(146, 134, 134);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font: inherit;
    margin-bottom: 100px;
}

.load-more:hover {
    background-color: rgb(209, 202, 202);
    transition: all 0.4s;
}

.load-more.is-hidden {
    display: none;
}

